<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/classes/application-config.xml
			/WEB-INF/classes/application-config-web.xml
			/WEB-INF/classes/application-config-security.xml
			/WEB-INF/classes/application-config-web-security.xml
		</param-value>
	</context-param>
	
	<filter>
    	<filter-name>XSS</filter-name>
    	<filter-class>org.LexGrid.LexBIG.caCore.web.security.xss.CrossSiteScriptingFilter</filter-class>
    </filter>
    
    <filter-mapping> 
		<filter-name>XSS</filter-name> 
		<url-pattern>/*</url-pattern> 
	</filter-mapping> 

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

    <servlet>
		<servlet-name>httpinvoker</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>	

	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

    <servlet>
        <servlet-name>AxisServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class> 
    </servlet>
    
    <servlet>
        <servlet-name>CacheMonitor</servlet-name>
        <servlet-class>org.LexGrid.LexBIG.caCore.web.EhcacheMonitor</servlet-class> 
    </servlet>
    
    <servlet-mapping>
		<servlet-name>httpinvoker</servlet-name>
		<url-pattern>/http/*</url-pattern>
	</servlet-mapping>
     
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/services/AdminService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
		
    
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>CacheMonitor</servlet-name>
    	<url-pattern>/CacheMonitor</url-pattern>
    </servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>
