<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.autocommit">true</property>

		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">true</property>

		<property name="cglib.use_reflection_optimizer">false</property>
		<property name="jdbc.batch_versioned_data">true</property>
		<property name="jdbc.use_streams_for_binary">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheProvider</property>

		<!-- MAPPINGS -->
		<mapping resource="CodingScheme.hbm.xml" />
		<mapping resource="Entity.hbm.xml" />
		<mapping resource="Relations.hbm.xml" />
		<mapping resource="Property.hbm.xml" />
		<mapping resource="PropertyLink.hbm.xml" />
		<mapping resource="CodingSchemeSource.hbm.xml" />
		<mapping resource="PropertySource.hbm.xml" />
		<mapping resource="AssociationPredicate.hbm.xml" />
		<mapping resource="AssociationSource.hbm.xml" />
		<mapping resource="AssociationTarget.hbm.xml" />
		<mapping resource="URIMap.hbm.xml" />
		<mapping resource="PropertyQualifier.hbm.xml" />

	</session-factory>
</hibernate-configuration>
